@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: -2,
    )
  );
}

.dark-mode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: -2,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 1%;
}
