<form>
  <app-select
    label="Sort"
    for="sortFilter"
    [options]="sortOptions"
    (selectionChange)="onSortChange($event)"
  >
  </app-select>

  <app-select
    label="Product category"
    for="productCategoryFilter"
    [options]="productCategoryOptions"
    (selectionChange)="onProductCategoryChange($event)"
  >
  </app-select>

  <app-select
    label="Manufacturer"
    for="manufacturerFilter"
    [options]="manufacturerOptions"
    (selectionChange)="onManufacturerChanged($event)"
  >
  </app-select>

  <app-select
    label="Item condition"
    for="itemConditionFilter"
    [options]="itemConditionOptions"
    (selectionChange)="onItemConditionChange($event)"
  >
  </app-select>

  <app-select
    label="Colour"
    for="colourFilter"
    [options]="colourOptions"
    (selectionChange)="onColourChange($event)"
  >
  </app-select>

  <app-select
    label="Size"
    [options]="[]"
    (selectionChange)="onSizeChange($event)"
    [hidden]="false"
  >
  </app-select>

  <button mat-button>Basic</button>
</form>
